@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(45deg, #81D4BA, #E3F2F2);
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #361d707c;
    padding: 10px;
    margin: auto;
}

h1{
    color: #792255;
    text-align: center;
    text-shadow: 1px 1px 2px #361D707c;
}

h2{
    color: #E4567B;
}

p{
    text-align: justify;
}